<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pranav's Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
              class="navbar-toggler-bar bar3"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="page-content">
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/profileBackground.jpg')"></div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#"><img src="static/images/pranavPic.jpeg" alt="Image" /></a></div>
              <div class="h2 title">Pranav Bellam Prasad</div>
              <p class="category text-white">Graduate Student</p>
              <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='PranavResume.pdf') }}"
                data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
              <a class="btn btn-primary" target="_blank" href = "mailto: bellam.pranav@gmail.com"
                data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Send Email</a>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="button-container">
                <a class="cc-google-plus btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/PranavBP"
                  rel="tooltip" title="Checkout my Projects on Github!"><i class="fa fa-github"></i></a>
                <a class="cc-instagram btn btn-default btn-round btn-lg btn-icon" target="_blank"
                  href="https://www.linkedin.com/in/pranav-bellam-prasad-031351139/" rel="tooltip"
                  title="Connect with me on LinkedIn :)"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="about">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">About</div>
                <p style="text-align:justify;"> Computer Science graduate student interested in the field of Distributed Systems and Cloud Computing. 
                  My passion for software development comes from my experience as a tech-savvy undergrad student, participating in international tech events, and constantly tweaking around with smartphones and tech gadgets. 
                  I'm also a Motorhead and Formula 1 Enthusiast.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                <div class="row">
                  <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                  <div class="col-sm-8">24</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                  <div class="col-sm-8">pranavbe@buffalo.edu</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">bellam.pranav@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                  <div class="col-sm-8">+1 716-426-9704</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                  <div class="col-sm-8">Buffalo, New York, USA</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                  <div class="col-sm-8">English, Telugu, Kannada, Hindi</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="skill">
      <div class="container">
        <div class="h4 text-center mb-4 title">Professional Skills</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card-body">
            <b>Programming Languages:</b> Python, JavaScript, Swift, Objective-C<br><br>
            <b>Web Technologies/ Tools:</b> Node.js, Express.js, Flask, Google Cloud Platform, AWS, Docker, Apache
            OpenWhisk, Apache Solr, Git<br><br>
            <b>Databases:</b> MySQL, MongoDB<br><br>
            <b>Internet Technologies:</b> HTML5, CSS, Bootstrap
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="experience">
      <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-experience-header">
                <p>August 2020 - June 2022</p>
                <div class="h5">Rakuten, Inc.</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Associate Software Engineer</div>
                  <ul style="text-align:justify;">
                    <li>Designed and developed the Partner Payments SDK. Implemented secure-auth login,
                      device checks, keychain operations, and unique barcode authentication for users to scan and make
                      payments easily.</li>
                    <li>Implemented the Fraud Measure feature to improve payment authentication.</li>
                    <li>Developed the Card Management screen to add/scan credit cards and
                      enriched the user experience on the home screen by adding a movable bottom sheet.</li>
                    <li>Implemented an In-App Messaging feature for the app.</li>
                    <li>Added XCTest and XCUITest cases to test all the developed functionalities, ensuring maximum code
                      coverage and bug-free releases.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-experience-header">
                <p>January 2020 - August 2020</p>
                <div class="h5">Rakuten, Inc.</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Technical Intern</div>
                  <ul style="text-align:justify;">
                    <li>Setup the Apache OpenWhisk serverless infrastructure on Rakuten's OneCloud Platform.</li>
                    <li>Designed and developed a highly scalable static page handler for the website using Serverless
                      computing.</li>
                    <li>Improved the throughput of the website by 30% and supported high traffic volumes during Rakuten
                      campaigns and Super-sales.</li>
                    <li>Implemented a Serverless PoC for faster push notifications when users make transactions
                      using Rakuten Point Cards.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="education">
      <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>Aug 2022 - Present</p>
                <div class="h5">Master's Degree</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">M.S. in Computer Science and Engineering</div>
                <p class="category">STATE UNIVERSITY OF NEW YORK AT BUFFALO, NEW YORK</p>
                <p><strong>Coursework:</strong>
                  <ol>
                    <li>Information Retrieval - CSE 535</li>
                    <li>Blockchain Application Development- CSE 526</li>
                    <li>Analysis of Algorithms - CSE 531</li>
                    <li>Project Management - MGO 634</li>
                  </ol>
                </p>
                <p><strong>GPA:</strong> 3.67 / 4.00 <br></p>
                <p><b>Projects:</b>
                  <ol style="text-align:justify;">
                    <li><strong>Multi-Topic IR Chatbot</strong> | Python, Flask, Apache Solr, Tensorflow</li>
                      <ul>
                        <li>Developed an end-to-end multi-topic Information Retrieval chatbot capable of carrying out 15+ turns of coherent
                          utterances.</li>
                        <li>Indexed 200k+ multi-lingual Reddit data in Apache Solr and used it as the chatbot dataset.</li>
                        <li>Used a pre-trained BERT model to classify Chitchat and Reddit data.</li>
                        <li>Calculated the similarities of the top 20 retrieved documents with the user query, and responded with the document having the maximum similarity.</li>
                      </ul>
                    <br>
                    <li><strong>Baggagely - Decentralized Airport Baggage Tracking</strong> | Solidity, Node.js</li>
                      <ul>
                        <li>Designed a decentralized airport baggage tracking solution to provide real-time updates of checked baggage using Blockchain technology.</li>
                        <li>Developed the Baggage Tracker Smart Contract using Solidity to enable disintermediation in the system.</li>
                        <li>Implemented various functions to invoke peer-to-peer interaction between the airline and the customer, thus
                          providing transparency to the customer by eliminating the need of a centralized tracking system.</li>
                        <li>Integrated an ERC-20 Token (Baggagely) for handling transactions on the Ethereum blockchain network.</li>
                      </ul>
                  </ol>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>Aug 2016 - July 2020</p>
                <div class="h5">Bachelor's Degree</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">B.E. in Electronics and Instrumentation Engineeering</div>
                <p class="category">R.V COLLEGE OF ENGINEERING, BANGALORE</p>
                <p><strong>Relevant Coursework: </strong>Programming in C, Object Oriented Programming, Computer Communication Networks</p>
                <p><b>Projects:</b>
                <ol style="text-align:justify;">
                  <li><strong>Automatic Floor Cleaning Robot</strong> | NodeMCU, Internet Of Things</li>
                    <ul>
                      <li>Built a budget-friendly smart automatic floor cleaning robot using NodeMCU and integrated it with ThingSpeak Analytics IoT platform.</li>
                      <li>Developed an efficient algorithm for the robot to navigate automatically by avoiding obstacles ensuring maximum floor cleaning coverage.</li>
                      <li>Enabled tracking of the robot cleaning patterns in real-time on the ThingSpeak IoT platform.</li>
                    </ul>
                  <br>
                  <li><strong>Intelligent Steering System</strong> | NI myRIO, NI LabVIEW</li>
                    <ul>
                      <li>Developed a Prototype of a Wireless Steering System for automobiles, by eliminating the traditional mechanical rack and pinion parts.</li>
                      <li>Integrated all the smart sensors using visual programming and data acquisition techniques.</li>
                      <li>This system was also capable of detecting the driver's alcohol consumption level before letting the engine
                        ignition.</li>
                      <li>This project was selected as Top 25 projects in “Avishkar-2020” event, organized by the Visvesvaraya Technological University (VTU).</li>
                    </ul>
                </ol>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <footer class="footer">
        <div class="container text-center">
          <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/PranavBP"><i
              class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a class="cc-instagram btn btn-link" target="_blank"
            href="https://www.linkedin.com/in/pranav-bellam-prasad-031351139/"><i class="fa fa-linkedin fa-2x "
              aria-hidden="true"></i></a>
          <a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/PranavBellam"><i
              class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
        </div>
        <div class="h4 title text-center">Pranav Bellam Prasad</div>
      </footer>

      <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
      <script defer src="/_vercel/insights/script.js"></script>
      <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
      <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
      <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>

</body>
</html>